body.logged-in .wrapper { 
  padding-top: 46px;
}

body.logged-in .navbar-fixed-top {
  margin-top: 32px;
}

@media screen and ( min-width: 782px ) {
  body.logged-in .wrapper  { 
    padding-top: 32px; 
  }
}

body {
  background: #9C9776;
  font-family: 'aller', sans-serif;
  color: #5B3619;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'amerika_pro', serif;
  color: #5B3619;
}

p {
  margin-bottom: 24px;
}

/* Navbar */
.navbar {
  padding: 10px;
  text-transform: uppercase;
  font-family: 'amerika_pro', serif;
  color: #5B3619;
  font-weight: 700;
  font-size: 16px;
  background: rgba(252,247,220,0.9);
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none;
  margin: 0;
}

.navbar-fixed-top {
  z-index: 999999;
}

.navbar-logo {
  margin-left: 30px;
  width: 50px;
}

.navbar-nav > li {
  padding: 0 20px;
}

li:last-child {
  padding-right: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: #5B3619;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #5B3619;
}	

/*End of Navbar*/

/* Modals */
.modal-header,
.sponsor-medpar{
	margin: 0 auto;
	text-align: center;
}

.sponsor-medpar img{
	max-width: 100%;
	margin: 20px 15px;
}

.big-logo{
	width: 120px;
}

.medium-logo{
	width: 80px;
}

.medpar-logo img,
.small-logo{
	width: 35px;
}

@media (min-width: 769px){
	.big-logo{
		width: 200px;
	}

	.medium-logo{
		width: 150px;
	}

	.medpar-logo img,
	.small-logo{
		width: 65px;
	}
}

/*End of Modals*/


/* Dropdown Menu */

.dropdown-menu{
	background-color: #FCF7DC;
}

ul.dropdown-menu > li:last-child{
	margin-bottom: 5px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.dropdown-menu > li > a:hover,
.nav .open > a{
	color: #5B3619;
	background-color: transparent;
}

.dropdown-menu > li > a:hover{
	text-decoration: underline;
}

/* End of Dropdown Menu */

/* Wrapper */
.home .wrapper {
  background-image: url('images/header-image.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #FCF7DC;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.header {
  min-height: 400px;
  height: 640px;
  position: relative;
}

.main-logo {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -webkit-calc(-50% + 70px));
      -ms-transform: translate(-50%, calc(-50% + 70px));
          transform: translate(-50%, calc(-50% + 70px));
}

.title {
  position: relative;
  z-index: 99;
}

.title a {
  color: inherit;
  text-decoration: underline;
}

/* Main Content */
.about-ohu,
.mascot-name {
  font-size: 20px;
}

.about-ohu {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

.about-ohu p {
  font-family: 'amerika_pro', serif;
  line-height: 1.5;
}

.container {
  max-width: 1000px;
}

.main-content {
  position: relative; 
  max-width: 600px;
  margin: 0 auto;
}

.cloud {
  position: absolute;
  display: none;
  z-index: 99;
}

@media (min-width: 1200px) {
  .cloud {
    display: block;
  }

  .cloud-1 {
    top: 250px;
    left: -270px;
  }

  .cloud-2 {
    top: 300px;
    right: -270px;
  }  
}


.about-ohu p {
  margin-bottom: 30px;
}

.nirbanadwipa {
  margin-bottom: 70px;
  max-width: 80%;
}

.mascot-image {
  margin-bottom: 10px;
}

.mascot-name {
  text-align: center;
  margin-bottom: 40px;
}

.mascot-name {
  font-family: 'amerika_pro', serif;
  line-height: 1.5;
}

@media (min-width: 768px) { 
  .mascot-name,
  .about-ohu {
    font-size: 25px;
  }
}


.timeline-ohu {
  margin-bottom: 100px;
}

.timeline-ohu p {
  font-family: 'amerika_pro', serif;
}

.timeline-ohu-title {
  text-align: center;
  font-size: 40px;
}

.timeline-ohu-date {
  font-size: 35px;
  line-height: 1;
  margin: 0;
}

.timeline-ohu-event {
  font-size: 20px;
}

.pohon-timeline {
  position: relative;
}

.pohon {
  display: none;
}

.pohon > img {
  max-width: 100%;
}

.event {
  position: static;
  margin: 50px auto;
}

.event-1 {
  width: 186px;
  height: 291px;
}

.event-2 {
  width: 165px;
  height: 201px;
}

.event-3 {
  width: 165px;
  height: 201px;  
}

.daun {
  text-align: center;
  position: relative;  
}

.event-details {
  position: absolute; 
}

.event-details-1 {
  top: 155px;
  left: 60px;
}

.event-details-2 {
  top: 60px;
  left: 45px;
}

.event-details-3 {
  top: 70px;
  left: 30px;
}

@media (min-width: 960px) {
  .timeline-ohu {
    margin-bottom: -50px;
  }

  .pohon {
    display: block;
  }

  .event {
    margin: 0;
    position: absolute;
  }

  .event-1 {
    top: 50%;
    left: 20%;
  }

  .event-2 {
    top: 50%;
    left: 40%;
  }

  .event-3 {
    top: 53%;
    left: 63%;  
  }
}

/* Organigram */
.organigram {
  position: relative;
}

.title {
  text-align: center;
  font-family: 'amerika_pro', serif;
}

.organigram-title {
  font-size: 40px;
}

.organigram > img {
  width: 100%;
  position: relative; 
  z-index: 9;
}

.organigram-bg > img {
  display: block;
  position: absolute;
  width: 100%;
}

.organigram-img-wrapper {
  width: 100%;
  position: absolute;
  z-index: 99999;
  bottom: 15%;
}

.organigram-img {
  max-width: 60%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.images-zoom {
  max-width: 100%;
}

@media (max-width: 768px) {
  .terumbu-karang-1,
  .terumbu-karang-2,
  .terumbu-karang-3,
  .payung-1,
  .payung-2 {
    display: none;
  }
}

footer {
  position: relative;
  background-color: #0D0F15;
  padding: 30px 0;
}

.footer-logo {
  display: block;
  margin: 0 auto 30px;
}

/* Contact */
.contact {
  padding: 0;
  text-align: center;
}

.contact li {
  list-style: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.contact li a {
  display: block;
  width: 100%;
  height: 100%;
}

.contact li:first-child {
  margin-left: 0;
}

.contact-askfm {
  background-image: url('images/logo-askfm.png');
}

.contact-instagram {
  background-image: url('images/logo-instagram.png');
}

.contact-facebook {
  background-image: url('images/logo-facebook.png');
}

.contact-youtube {
  background-image: url('images/logo-youtube.png');
}

.contact-line {
  background-image: url('images/logo-line.png');
}

.contact-twitter {
  background-image: url('images/logo-twitter.png');
}

.contact-askfm,
.contact-instagram,
.contact-facebook,
.contact-line,
.contact-youtube,
.contact-twitter {
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (min-width: 768px) { 
  .footer-logo {
    margin: 0;
    float: right; 
  }

  .contact-wrapper {
    height: 120px;
  }
  
  .contact {
    text-align: right;
    position: absolute;
    right: 15px;
    bottom: 0;
  }

  .contact li {
    margin-left: 30px;
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 992px) {
 .contact li {
    margin-left: 60px;
    width: 52px;
    height: 52px;
 }
}


/* Page */
.page-header {
  border: none;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.page-header a {
  color: #5B3619;
  text-decoration: none;
}

/* Home */
.news-image img {
  width: 100%;
}

.news-date {
  margin: 10px 0 0;
}

.news-title {
  font-size: 20px;
  margin: 0 0 30px;
}

.news-title a {
  color: #5B3619;
  text-decoration: none;
}

.pagination {
  width: 100%;
  text-align: center;
  font-family: amerika_pro;
  font-size: 20px;
  margin-bottom: 30px;
}

.pagination a {
  color: #5B3619;
  text-decoration: none;
}

.pagination .current {
  color: #D7CDBF;
}

/* Single */
.article {
  max-width: 800px;
  margin-bottom: 30px;
}

.article p {
  font-size: 16px;
  margin-bottom: 1em;
}


/* Image Alignment */
.alignleft {
  display: block;
  margin: 0 auto 16px;
}

@media (min-width: 600px) {
  .alignleft {
    float: left;
    margin: 6px 16px 16px 0;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto 16px;
}

.addtoany_share_save_container {
    padding-top: 16px;
}

/* Helper class */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}