.navbar {
  padding: 10px;
  text-transform: uppercase;
  font-family: 'amerika_pro', serif;
  color: #5B3619;
  font-weight: 700;
  font-size: 25px;
  background: rgba(252,247,220,0.9);
}

.navbar-logo {
  margin-left: 30px;
  width: 80px;
}

.navbar-nav > li {
  padding: 0 20px;
  margin-top: 10px;
}

li:last-child {
  padding-right: 0px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #5B3619;
}

.mascot {
	width: 100%;
	font-size: 45px;
	text-align: center;
	padding-bottom: 8vh;
}

.mascot > img {
	padding-top: 10vh;
	padding-bottom: 4vh;
	width: 100%;
}

.container-unit {
    max-width: 900px !important;
}

.unit {
	margin-bottom: 50px;
}

.unit-img {
    text-align: center;
    margin-bottom: 16px;
}

.unit-img img {
    max-width: 100%;
}

.unit .page-header {
    margin-top: 0;
}

.unit .row {
	font-size: 16px;
}

.unit img {
	max-width: 100%;
	height: auto;
}

.unit-name {
	font-size: 24px;
	padding-bottom: 35px;
}